<div class="main">
    <mat-toolbar color="primary">
        <mat-icon class="spacing">menu</mat-icon>
        <span>Online Exam</span>
        <span class="divider"></span>
        <button mat-raised-button color="accent" class="spacing">
            Contact
        </button>
        <button mat-raised-button color="accent">
            About Us
        </button>
    </mat-toolbar>
    
    <div>
        <button mat-raised-button class="center">
            Get Started
        </button>
    </div>
</div>